body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f4f4f4;
    padding: 20px;
}

#palette {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px auto;
}

.color-box {
    width: 130px;
    height: 130px;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: white;
    font-weight: bold;
    padding-bottom: 10px;
    transition: transform 0.2s ease;
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

.color-box:hover {
    transform: scale(1.08);
}

.buttons {
    margin-top: 25px;
}

button {
    padding: 12px 18px;
    font-size: 15px;
    background: black;
    color: white;
    border-radius: 8px;
    margin: 5px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    opacity: 0.8;
}

#savedPalettes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 15px;
}

.saved-palette {
    display: flex;
    gap: 5px;
}
.saved-color {
    width: 40px;
    height: 40px;
    border-radius: 6px;
}
